.Buttons{
    padding-left: 60%;
    padding-right: 5%;
}
.mat-toolbar button {
  margin-right: 10px;
  font-size: 16px;
}
.Running{
    padding-left: 5%;
}

@media screen and (max-width: 768px) {
  .mat-menu-content {
    background-color: white;
    width: 100%;
    max-width: none;
    
  }
}